#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ffffff; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d6ecd5; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #aedaac; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #86c883; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #5eb65a; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #36a431; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #0e9208; fill-opacity: 1.0; }
